server {
        listen 80;
        server_name {% for ip_addr in ansible_all_ipv4_addresses %} {{ ip_addr }} {% endfor %} {{ ansible_fqdn }}{% if end_point is defined %} {{ end_point }}{% endif %};
        root /var/www/;
        index index.html index.htm;

        location / {
          autoindex on;
          autoindex_exact_size off;
          }

        location ~* \.(?:manifest|appcache|html?|xml|json)$ {
          expires -1;
          #access_log logs/static.log; # I don't usually include a static log
          }

        location ~* \.(?:css|js)$ {
          expires 14d;
          access_log off;
          add_header Cache-Control "public";
          }

        location ~* ^.+\.(?:jpe?g|gif|htc|ico|png|cur|gz|otf|ttf|eot|woff|woff2|svg|svgz|mp4|ogg|ogv|webm)$ {
          access_log off;
          expires 7d;
          add_header Cache-Control public;

          ## No need to bleed constant updates. Send the all shebang in one
          ## fell swoop.
          tcp_nodelay off;

          ## Set the OS file cache.
          open_file_cache max=3000 inactive=120s;
          open_file_cache_valid 45s;
          open_file_cache_min_uses 2;
          open_file_cache_errors off;
          }

}
